@import './styles/common/theme';
.main {

  #loader-app {
    position: fixed;
    z-index: 2;
    align-items: center;
    img {
      display: block;
    }
  }
  .btn_primary {
    padding: 8px 32px 8px 12px;
    font-size: $medSmallFontSize;
    font-weight: $TypographyFontWeightTeal-500;
    color: $TypographyWhite;
    background-color: $blackColor;
    border-radius: $borderRadiusMainAll;
  }
  .btn_settings {
    position: relative;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding: 6px;
    margin-right: 18px;
    border-radius: $borderRadiusMainAll;
    border: $borderMainCtrls;
    background-color: $TypographyColorTeal-50;
    

    &:focus, &:hover {
      background-color: $TypographyColorTeal-100;
    
    }

    cursor: pointer;
      ul {
        display: flex;
        position: absolute;
        width: 178px;
        top: 32px;
        right: 0;
        z-index: 10;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        border: $borderMainCtrls;
        border-radius: $borderRadiusMainAll;
        background-color: $TypographyWhite;
        box-shadow: $boxShadowPrimary;
        
        li {
          display: flex;
          padding: 8px 18px 8px 16px;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          color: $TypographyColorTeal-700;
          font-weight: $TypographyFontWeightTeal-400;
          cursor: pointer;
          &:hover {
            background-color: $selectOptionBgColor;
          }
          &:last-child {
            color: $TypographyColorTeal-red;
          }
          span, i {
            display: flex;
            align-self: center;
          }
          i {
            color: $TypographyColorTeal-900;
          }
        }
      }
  }
}


