# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend-the-first-clicks/node_modules
/TheFirstClicksApp/node_modules

/TheFirstClicksApp/.pnp
/TheFirstClicksApp/.pnp.js

# testing front end
/TheFirstClicksApp/coverage

# production build fron end
/TheFirstClicksApp/build
# end


# misc
/TheFirstClicksApp/.DS_Store
/TheFirstClicksApp/.env.local
/TheFirstClicksApp/.env.development.local
/TheFirstClicksApp/.env.test.local
/TheFirstClicksApp/.env.production.local

/TheFirstClicksApp/npm-debug.log*
/TheFirstClicksApp/yarn-debug.log*
/TheFirstClicksApp/yarn-error.log*
