
@import 'theme';

.pageNotFoundWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0 5%;
    margin-top: 34px;

    .description {
        display: grid;
        place-items: center;
        h1 {
            display: grid;
            font-size: $bigFontSize;
            font-weight: $TypographyFontWeightTeal-800;
        }
        .loadigSpiner {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    }

}